**/*/node_modules/
**/*.idea/
**/*__pycache__/
**/*.DS_Store

/asr_model/dataset/
/audio/**/*
!/audio/transcript.txt
/recognition/model.zip
/asr_model/best_models/**.*
/asr_model/model_logs/automatic_speech_recognition/
